/*tab±êÇ©*/

 .bootbox-body{
           background-color:#FFF;
      }
#myTab{height:32px; margin:0; padding:0;}
.tabbable #myTab li {float: left;margin-right: -28px;}
#myTab>li>a{position: relative;display: block;width: 130px;height: 32px;text-align: center;	background:url(../assets/images/images/bg-tag-off.png) no-repeat 0 0;color: #414141;word-wrap: break-word;overflow: hidden;cursor:pointer; border:0;box-shadow:none;}
.tab-s1, .tab-s1 a {z-index: 30}
.tab-s2, .tab-s2 a {z-index: 29}
.tab-s3, .tab-s3 a {z-index: 28}
.tab-s4, .tab-s4 a {z-index: 27}
.tab-s5, .tab-s5 a {z-index: 26}
.tab-s6, .tab-s6 a {z-index: 25}
.tab-s7, .tab-s7 a {z-index: 24}
.tab-s8, .tab-s8 a {z-index: 23}
.tab-s9, .tab-s9 a {z-index: 22}
.tab-s10, .tab-s10 a {z-index: 21}
.tab-s11, .tab-s11 a {z-index: 20}
.tab-s12, .tab-s12 a {z-index: 19}
.tab-s13, .tab-s13 a {z-index: 18}
.tab-s14, .tab-s14 a {z-index: 17}
.tab-s15, .tab-s15 a {z-index: 16}
#myTab>li.active>a, #myTab>li.active>a:focus, #myTab>li.active>a:hover{background-image: url(../assets/images/images/bg-tag-on.png);z-index: 99;color: #fefefe;text-decoration: none;cursor: pointer; border:0;box-shadow:none;}
.active{z-index:99;}

/*table*/
.tab-content{padding:5px 0 12px 0;border:0}
.tabbable{padding:10px 0 0 0 ;}
.input-group-addon{background:none; border:0;}
.container-fluid,div.table-responsive{padding:0;}
table.watable{margin:15px 0 0 0;}
table.watable tr th{height:35px;}
table.watable tr td{white-space:nowrap;height:30px;}
.watable p{float:left; margin:0 0 0 20px;  height:52px; line-height:52px;}
.watable .btn-toolbar{float:left; margin:0 0 0 20px; padding:10px 0;}
.btn-group>.btn.btn-sm>.caret{margin-top:-2px;}
.chosen-container-single .chosen-single{height:32px;}
.form-control{height:30px;}
.row{margin-left:0; margin-right:0;}
.input-group-addon{min-width:0px;}
.watable.table th a{white-space:nowrap;}
div.table-responsive{overflow-x:scroll;}


div.note{padding:10px 0 2px 0; margin:10px 0 0 0;}
.btn-group{margin:5px 0;}

/*form表单*/
.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even),.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) > div{background:none;}
.form-bordered .form-group > div,.form-bordered .form-group{border:0;}
.modal-body{padding:0;border-bottom:1px solid #e5e5e5;}
.modal-content{border:0; background:none;}
.modal .modal-header{background-color:#428bc9;border-bottom:0;border-top-left-radius:5px!important;border-top-right-radius:5px!important;}
.modal .modal-header h4{color:#ffffff;}
.modal .modal-header .close{font-size:40px; margin-top:7px!important;}
.form-body{background-color:#ffffff;}
.modal-footer{border-bottom-left-radius:5px!important;border-bottom-right-radius:5px!important;}
.calculate{margin:10px 0 0 0!important; text-align:center;}
.z_data{padding:5px 10px;}




